# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/*
build/*
*.egg-info/

# Virtual environment
venv/
env/
ENV/
build/
# PyInstaller
*.manifest
*.spec

# IDE settings
.idea/
.vscode/

# Logs
*.log
*.toc
*.pkg

# Windows
Thumbs.db
Desktop.ini

*.toc
*.pkg
